<html lang="en" >
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="resource-type" content="document" />
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link rel="stylesheet" href="css/lf-ng-md-file-input.css">  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/menu.css">
  <link rel="stylesheet" href="css/ngProgress.css">
  <style>
    md-list.md-dense md-list-item.md-3-line, md-list.md-dense md-list-item.md-3-line>._md-no-style {
      min-height: 85px;
      height: 85px;
    }
  </style>
</head>
<body ng-app="myApp">
  <div layout="column" ng-cloak style="height: 100%" ng-controller="AppCtrl">
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="More" ng-click="toggleLeft()" >
          <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button>
        <h2>
          <span>APP VENDAS</span>
        </h2>
        <span flex></span>
        
      </div>
    </md-toolbar>    
    <section layout="row" flex> 
      <div layout="column"  ng-cloak>

        <section layout="row" flex>
          <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop md-whiteframe="4" style="top: 57px">
            <md-toolbar class="md-theme-indigo">
              <div class="circle">
                Marcy<br/>
                Lingerie
              </div>
            </md-toolbar> 
            <div class="mdl-layout__drawer" ng-include="'menu.html'"></div>
          </md-sidenav>   
        </section>
      </div>

      <md-content flex layout-padding>  
      <md-button ng-click="produto = {}" class="md-primary md-raised">Cadastrar Novo</md-button>
        <md-button ng-click="carregarProduto($event)" class="md-primary md-raised">Carregar Produto</md-button>              
        <form name="formProduto" ng-submit="salvarProduto($event)" novalidate>
          <input name="id" type="hidden" ng-model="produto.id"/>
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Codigo do Produto</label>
            <input name="cod" ng-model="produto.cod" ng-required="true">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <label>Tamanho</label>
            <md-select name="tamanho" ng-model="produto.tamanho" ng-required="true" ng-change="verificaProdutoExiste()">
              <md-option ng-repeat="tamanho in tamanhos" value="{{tamanho.tam}}">
                {{tamanho.tam}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <label>Quantidade</label>
            <input name="estoque" type="number" ng-model="produto.estoque">
          </md-input-container>
          
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Nome do Produto</label>
            <input name="nome" ng-model="produto.nome">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <label>Preço de Custo</label>
            <input name="precoCusto" ng-model="produto.precoCusto" ng-required="true" ng-blur="copiaPrecoCusto()" ng-currency>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <label>Preço de Venda</label>
            <input name="precoVenda" ng-model="produto.precoVenda" ng-required="true" ng-currency>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <label>Promoção</label><br/>
            <md-switch name="promocao" ng-model="produto.promocao" aria-label="Switch 1">

            </md-switch>
          </md-input-container>

          <lf-ng-md-file-input name="files" lf-files="files" lf-on-file-click="onFileClick" preview drag multiple></lf-ng-md-file-input>
          <br/>
          <!-- Colored raised button -->
          <md-button ng-hide="hideSalvar" type="submit" class="md-primary md-raised" >
            Salvar
          </md-button>
        </form>
      </md-content>
    </section>
  </div>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
  <script src="js/lf-ng-md-file-input.js"></script>
  <script src="js/angular-locale_pt-br.js"></script>  
  <script src="http://aguirrel.github.io/ng-currency/dist/ng-currency.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src="js/ngprogress.min.js"></script>
  <script type="text/javascript">
    angular.module('myApp', ['ngMaterial','ngProgress','lfNgMdFileInput','ng-currency'])
    .config(function($mdThemingProvider) {
      $mdThemingProvider.theme('default')
      .primaryPalette('pink')
      .accentPalette('orange');
    })

    .controller('AppCtrl', function($scope,$http,$mdDialog,$timeout, $mdSidenav, $log,$mdMedia,ngProgressFactory) { 
        $scope.progressbar = ngProgressFactory.createInstance();

      $scope.toggleLeft = buildDelayedToggler('left');
      $scope.tamanhos = [{tam: 'PP'},{tam: 'P'},{tam: 'M'},{tam: 'G'},{tam: 'GG'}];

      $scope.showAlert = function(ev,message,title = "Alerta") {
        // Appending dialog to document.body to cover sidenav in docs app
        // Modal dialogs should fully cover application
        // to prevent interaction outside of dialog
        $mdDialog.show(
          $mdDialog.alert()
          .parent(angular.element(document.querySelector('#popupContainer')))
          .clickOutsideToClose(true)
          .title(title)
          .textContent(message)
          .ariaLabel('Alert Dialog Demo')
          .ok('OK')
          .targetEvent(ev)
          );
      }

      $scope.copiaPrecoCusto = function(){
        $scope.produto.precoVenda = $scope.produto.precoVenda || angular.copy($scope.produto.precoCusto);        
      }

      $scope.verificaProdutoExiste = function(){
        $http.post("controller/consultarProduto.php",{cod:$scope.produto.cod, tamanho:$scope.produto.tamanho}).then(function(response)  {
          if(response.data != "null"){                     
            $scope.produto = response.data[0];
          }else{
            var cod = $scope.produto.cod;
            var tamanho = $scope.produto.tamanho;
            $scope.produto = {};
            $scope.produto.cod = cod;
            $scope.produto.tamanho = tamanho;
          }
           //$scope.srcimg = response.data;
         });
      }
      
      $scope.carregarProduto = function(ev) {       
      
        $scope.progressbar.start();
             
        var useFullScreen = ($mdMedia('sm') || $mdMedia('xs'))  && $scope.customFullscreen;
        $mdDialog.show({
          controller: DialogController,
          templateUrl: "dialog/listaProdutos.html",
          parent: angular.element(document.body),
           // scope: $scope,
           targetEvent: ev,
           clickOutsideToClose:true,
           fullscreen: useFullScreen,
           locals: {
            scope2: $scope
          }
        });                  
      };
      

      $scope.salvarProduto = function($event) {
        $scope.hideSalvar = true;
        $scope.showAlert($event,"Aguarde...");
        if($scope.formProduto.$valid){
           $scope.progressbar.start();

          //carrega as imagens em um FormData()
          var formData = new FormData();
          angular.forEach($scope.files,function(obj){            
            formData.append('files[]', obj.lfFile);
          });

          
          //salva os dados do produto
          $http({
            method : "POST",
            url : "controller/cadastrarProduto.php",
            data    : $scope.produto, //forms user object
            headers : {'Content-Type': 'application/x-www-form-urlencoded'} 
          }).then(function mySucces(response) {  

            if(response.data){
              
              $scope.produto.id = $scope.produto.id || response.data;
              //envia as imagens para o cadastro de produtos
              $http.post("controller/cadastrarProduto.php?idProduto="+$scope.produto.id, formData, {                
                transformRequest: angular.identity,
                headers: {'Content-Type': undefined}
              })
              .success(function(){
                $scope.showAlert($event,"Salvo com sucesso!");
                $scope.hideSalvar = false;  
              })
              .error(function(){
              });
              
            }else{
              $scope.showAlert($event,response.data);
            } 

             $scope.progressbar.complete();       
             
          }, 
          function myError(response) {            
             $scope.progressbar.complete();
          });
        }else{
          $scope.showAlert($event,"Preencha os campos corretamente!");
        }

      };     

      /**
      * Supplies a function that will continue to operate until the
      * time is up.
      */
      function debounce(func, wait, context) {
        var timer;
        return function debounced() {
          var context = $scope,
          args = Array.prototype.slice.call(arguments);
          $timeout.cancel(timer);
          timer = $timeout(function() {
            timer = undefined;
            func.apply(context, args);
          }, wait || 10);
        };
      }
      /**
      * Build handler to open/close a SideNav; when animation finishes
      * report completion in console
      */
      function buildDelayedToggler(navID) {
        return debounce(function() {
          // Component lookup should always be available since we are not using `ng-if`
          $mdSidenav(navID)
          .toggle()
          .then(function () {
            $log.debug("toggle " + navID + " is done");
          });
        }, 200);
      }  
    })  

      //quando montado o dialog
      function DialogController($scope, $mdDialog, $rootScope, $http,scope2,$mdDialog) {
        //carrega todos os clientes
        $http.post("controller/consultarProduto.php",{id: ''}).then(function(response)  {           
          $scope.produtos = response.data;     
           scope2.progressbar.complete();      
        });

        $scope.excluirImagem = function(id){
          alert(id);
        }
        //busca produto passando id
        $scope.buscaProduto = function(ev,id) {
           scope2.progressbar.start();
          $mdDialog.hide();

          $http.post("controller/consultarProduto.php",{id:id}).then(function(response)  {
            //$scope.clientes = response.data;           
            scope2.produto = response.data[0];

            $(".imagens").remove();

            $(".lf-ng-md-file-input-preview-container").append("<div class='imagens' style='width: 100%; position: relative;'></div>");
            angular.forEach(response.data,function(obj){ 

              if(obj.idImagem != null){
                $(".lf-ng-md-file-input-preview-container .imagens").append("<img id='img"+obj.idImagem+"'  onclick=\"excluirImagem('"+obj.idImagem+"')\" style='display: inline-block; float: left; margin: 10px; box-shadow: 5px 5px 5px #CCC' height='160' width='160' src='img/produtos/"+obj.imagem+"' /> ");
                }
            });
               scope2.progressbar.complete();
            });
          };

          $scope.hide = function(){
            $mdDialog.hide();
          }
        }

        function  excluirImagem(idImagem) {
          retorno = confirm("Tem certeza que deseja excluir essa imagem?");

          if(retorno){
            $.post( "controller/excluirImagem.php", {idImagem: idImagem}, function( data ) {
              $("#img"+idImagem).remove();
            });
          }          
        }
      </script>
    </body>  
    </html>