<html lang="en" >
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="resource-type" content="document" />

  
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link rel="stylesheet" href="css/lf-ng-md-file-input.css">  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/menu.css">
  <style>
    md-list.md-dense md-list-item.md-3-line, md-list.md-dense md-list-item.md-3-line>._md-no-style {
      min-height: 85px;
      height: 85px;
    }

    .galleria{
      height: 300px;
    }

    .galleria-theme-classic,.galleria-theme-classic .galleria-thumbnails .galleria-image{
      background: none;
      border: 1px solid #CCC;
    }
  </style>
</head>
<body ng-app="myApp">
  <div layout="column" ng-cloak style="height: 100%" ng-controller="AppCtrl">
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="More" ng-click="toggleLeft()" >
          <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button>
        <h2>
          <span>APP VENDAS</span>
        </h2>
        <span flex></span>        
        <a href='whatsapp://send?text=http://192.185.176.178/~ddc/app-venda/consultarCatalogo.html'><i class="material-icons">share</i></a>

      </div>
    </md-toolbar>
    <section layout="row" flex> 
      <!--div layout="column"  ng-cloak>
        <section layout="row" flex>
          <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop md-whiteframe="4" style="top: 57px">
            <md-toolbar class="md-theme-indigo">
              <div class="circle">
                Marcy<br/>
                Lingerie
              </div>
            </md-toolbar> 
            <div class="mdl-layout__drawer" ng-include="'menu.html'"></div>
          </md-sidenav>   
        </section>
      </div-->
      <md-content flex layout-padding>     


        <div  ng-repeat="produto in produtos track by $index" my-repeat-directive>                

          <div ng-if="produto.cod != produtos[$index-1].cod">
            <h2 style="text-align: center">
              {{ produto.nome }} 
              <br/>
              <strong>{{ produto.precoVenda | currency}}</strong>      
              <img ng-if="produto.promocao" style="width: 15%; max-width: 100px; position: absolute; margin-top: 103px; left: 17; z-index: 30000" src="img/promocao.png"></img>
            </h2>

            <p>
               Código: {{ produto.cod }}<br/>
               Estoque: {{ produto.estoque > 0 ? produto.estoque + " itens.": "Produto Indisponivel." }}<br/>
              
            </p>
            <div class="galleria">
            
              <img ng-repeat="x in produtos track by $index" style="display:inline-block" ng-if="produto.cod == x.cod" width="150" src={{'img/produtos/'+x.imagem}} />
            
            </div>
          </div>
        </div>

      </md-content>
    </section>
  </div>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
  <script src="js/lf-ng-md-file-input.js"></script>
  <script src="js/angular-locale_pt-br.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="galleria/galleria-1.4.2.min.js"></script>

  <script type="text/javascript">

    
    angular.module('myApp', ['ngMaterial','lfNgMdFileInput'])
    .config(function($mdThemingProvider) {
      $mdThemingProvider.theme('default')
      .primaryPalette('pink')
      .accentPalette('orange');
    })
    .directive('myRepeatDirective', function() {
      return function(scope, element, attrs) {        
        if (scope.$last){
          Galleria.loadTheme('galleria/themes/classic/galleria.classic.min.js');
              Galleria.run('.galleria');
        }
      };
    })
    .controller('AppCtrl', function($scope,$http,$mdDialog,$timeout, $mdSidenav, $log) { 
      $scope.toggleLeft = buildDelayedToggler('left');
      $scope.showAlert = function(ev,message,title = "Alerta") {
        // Appending dialog to document.body to cover sidenav in docs app
        // Modal dialogs should fully cover application
        // to prevent interaction outside of dialog
        $mdDialog.show(
          $mdDialog.alert()
          .parent(angular.element(document.querySelector('#popupContainer')))
          .clickOutsideToClose(true)
          .title(title)
          .textContent(message)
          .ariaLabel('Alert Dialog Demo')
          .ok('OK')
          .targetEvent(ev)
          );
      }

      
      $scope.consultarProduto = function($event) {
        //var codProduto = "";
        $scope.aux = 0;
        $scope.produtos = [];
    
        $http.post("controller/consultarProduto.php",{id: -1}).then(function(response)  {         
         $scope.produtos = response.data;           
         });
      }
      $scope.consultarProduto(); 

      /**
      * Supplies a function that will continue to operate until the
      * time is up.
      */
      function debounce(func, wait, context) {
        var timer;
        return function debounced() {
          var context = $scope,
          args = Array.prototype.slice.call(arguments);
          $timeout.cancel(timer);
          timer = $timeout(function() {
            timer = undefined;
            func.apply(context, args);
          }, wait || 10);
        };
      }
      /**
      * Build handler to open/close a SideNav; when animation finishes
      * report completion in console
      */
      function buildDelayedToggler(navID) {
        return debounce(function() {
          // Component lookup should always be available since we are not using `ng-if`
          $mdSidenav(navID)
          .toggle()
          .then(function () {
            $log.debug("toggle " + navID + " is done");
          });
        }, 200);
      }  
    })  

  </script>
</body>  
</html>