<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link rel="stylesheet" href="css/lf-ng-md-file-input.css">  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/menu.css">  
</head>
<body ng-app="myApp">
  <div layout="column" ng-cloak style="height: 100%" ng-controller="AppCtrl">
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="More" ng-click="toggleLeft()" >
          <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button>
        <h2>
          <span>App Vendas  - Cadastrar Produtos</span>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <section layout="row" flex> 
      <div layout="column" style="height:100%;" ng-cloak>
        <section layout="row" flex>
          <md-sidenav 
          class="md-sidenav-left"
          md-component-id="left"
          md-is-locked-open="$mdMedia('gt-md')"
          md-disable-backdrop
          md-whiteframe="4"
          style="top: 50px">
          <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Menu</h1>
          </md-toolbar>    
          <div class="mdl-layout__drawer" ng-include="'menu.html'"></div>
        </md-sidenav>   
      </section>
    </div>
    <md-content flex layout-padding>     
      <div class="" ng-repeat="produto in produtos">
       <h2 class="">{{ produto.cod }}</h2>
          {{ produto.nome }}
          {{ produto.precoVenda }}
          <br/>
          <img width="150" src={{produto.imagem}} />
     </div>
    </md-content>
  </section>
</div>

<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
<script src="js/lf-ng-md-file-input.js"></script>

<script type="text/javascript">
  angular.module('myApp', ['ngMaterial','lfNgMdFileInput'])

  .controller('AppCtrl', function($scope,$http,$mdDialog,$timeout, $mdSidenav, $log) { 
    $scope.toggleLeft = buildDelayedToggler('left');
    $scope.showAlert = function(ev,message,title = "Alerta") {
        // Appending dialog to document.body to cover sidenav in docs app
        // Modal dialogs should fully cover application
        // to prevent interaction outside of dialog
        $mdDialog.show(
          $mdDialog.alert()
          .parent(angular.element(document.querySelector('#popupContainer')))
          .clickOutsideToClose(true)
          .title(title)
          .textContent(message)
          .ariaLabel('Alert Dialog Demo')
          .ok('OK')
          .targetEvent(ev)
          );
      }

      $scope.$watch('files.length',function(newVal,oldVal){
        console.log($scope.files);
      });
      
      $scope.consultarProduto = function($event) {
        var codProduto = "";
        $scope.produtos = "";
        //carrega as imagens em um FormData()
        var formData = new FormData();
         angular.forEach($scope.files,function(obj){
          console.log($scope.files);
          formData.append('files[]', obj.lfFile);
        });
        
        $http.get("controller/consultarProduto.php").then(function(response)  {
           console.log(response);
           $scope.produtos = response.data;
           //$scope.srcimg = response.data;
        });
      }
       $scope.consultarProduto(); 

      /**
      * Supplies a function that will continue to operate until the
      * time is up.
      */
      function debounce(func, wait, context) {
        var timer;
        return function debounced() {
          var context = $scope,
          args = Array.prototype.slice.call(arguments);
          $timeout.cancel(timer);
          timer = $timeout(function() {
            timer = undefined;
            func.apply(context, args);
          }, wait || 10);
        };
      }
      /**
      * Build handler to open/close a SideNav; when animation finishes
      * report completion in console
      */
      function buildDelayedToggler(navID) {
        return debounce(function() {
          // Component lookup should always be available since we are not using `ng-if`
          $mdSidenav(navID)
          .toggle()
          .then(function () {
            $log.debug("toggle " + navID + " is done");
          });
        }, 200);
      }  
    })  
  </script>
</body>  
</html>