<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/menu.css">
  <style>
    md-list.md-dense md-list-item.md-3-line, md-list.md-dense md-list-item.md-3-line>._md-no-style {
      min-height: 85px;
      height: 85px;
    }
  </style>
</head>
<body ng-app="myApp">
  <div layout="column" ng-cloak style="height: 100%" ng-controller="AppCtrl">
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="More" ng-click="toggleLeft()" >
          <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button>
        <h2>
          <span>APP VENDAS</span>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <section layout="row" flex>       

      <div layout="column"  ng-cloak>
        <section layout="row" flex>
          <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop md-whiteframe="4" style="top: 57px">
            <md-toolbar class="md-theme-indigo">
              <div class="circle">
                Marcy<br/>
                Lingerie
              </div>
            </md-toolbar> 
            <div class="mdl-layout__drawer" ng-include="'menu.html'"></div>
          </md-sidenav>   
        </section>
      </div>

      <div layout="column" flex="100">
        <md-content flex layout-padding>           
          <form ng-submit="showAdvanced($event)" name="formVenda"  novalidate>
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
              <md-card-content  layout-align="space-between">

                <div layout="row">
                  <div flex>
                    <md-input-container class="md-block">
                      <md-icon class="material-icons">person</md-icon>
                      <label>Cliente</label>
                      <md-select name="cliente" placeholder="Cliente" ng-model="venda.cliente" ng-required="true" md-on-open="carregarClientes()">
                        <md-option ng-value="cliente.id" ng-repeat="cliente in clientes track by $index"> &nbsp; {{cliente.nome}}</md-option>
                      </md-select>
                    </md-input-container>      
                  </div>
                </div>

                <div layout="row">
                  <div flex="80">
                    <md-input-container class="md-block">
                      <md-icon class="material-icons">add_shopping_cart</md-icon>
                      <md-select  name="produto" placeholder="Produto" ng-model="venda.produto" ng-required="true" md-on-open="carregarProdutos()">
                        <md-option ng-value="$index" ng-repeat="produto in produtos track by $index">
                          <img style="max-height: 20px;" src="{{produto.imagem}}" /> {{produto.nome}} - {{produto.tamanho}} - {{produto.precoVenda | currency}}
                        </md-option>
                      </md-select>
                    </md-input-container>
                  </div>

                  <div flex>
                    <md-input-container>
                      <label>QTD</label>
                      <input type="number"  ng-model="venda.qtdProduto">
                    </md-input-container>
                  </div>

                  <div flex>
                    <md-button class="md-fab md-mini md-primary"  ng-click="adicionarProdutos()" >+</md-button>
                  </div>
                </div>

                <div layout="row">
                  <div flex>
                    <md-input-container class="md-block">
                      <label>Reserva</label>
                      <md-switch ng-model="venda.reserva" aria-label="Switch 1">

                      </md-switch>
                    </md-input-container>
                  </div>
                </div>
              </md-card-content>
            </md-card>
            <!-- Colored raised button -->            

            <md-list class="md-dense" flex="" ng-show="produtosVenda != ''">
              <md-subheader class="md-no-sticky">Itens selecionados</md-subheader>
              <md-list-item class="md-3-line" ng-repeat="item in produtosVenda track by $index" ng-click="remove($event,produtosVenda,$index)">
                <img ng-src="{{item.imagem}}" class="md-avatar" alt="{{item.nome}}" />
                <div class="md-list-item-text" layout="column" flex="33">
                  <h3>{{item.qtd}}x - {{ item.nome }} - {{item.cod}}</h3>
                  <h4>{{ item.tamanho }}</h4>
                  <p>{{ item.precoVenda | currency }}</p>
                </div>
                <md-icon class="material-icons" layout-align="right right" >delete</md-icon>
              </md-list-item>
            </md-list>


            <md-list class="md-dense" flex=""  ng-show="produtosVenda != ''">
              <md-subheader class="md-no-sticky">Valor Total: <strong>{{venda.valorTotal | currency}}</strong></md-subheader>             
            </md-list>
            <md-button type="submit" class="md-primary md-raised" ng-show="produtosVenda != ''">
              Realizar Venda
            </md-button>
          </form>

        </md-content>

      </div>
    </section>
  </div>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc.5/angular-material.min.js"></script>
  <script src="js/angular-locale_pt-br.js"></script>
  <script src="http://aguirrel.github.io/ng-currency/dist/ng-currency.js"></script>

  <script type="text/javascript">
    angular.module('myApp', ['ngMaterial','ng-currency'])
    .config(function($mdThemingProvider) {
      $mdThemingProvider.theme('default')
      .primaryPalette('pink')
      .accentPalette('orange');
    })
    .controller('AppCtrl', function($scope,$http,$mdDialog,$timeout, $mdSidenav, $log,$mdMedia, $rootScope) {
      $scope.formVenda = {};      
      $scope.toggleLeft = buildDelayedToggler('left');      
      $scope.venda = {produto: {}};
      $scope.venda.valorTotal = 0;
      $scope.produtosVenda = [];
      $scope.showAlert = function(ev,message,title = "Alerta") {
        // Appending dialog to document.body to cover sidenav in docs app
        // Modal dialogs should fully cover application
        // to prevent interaction outside of dialog
        $mdDialog.show(
          $mdDialog.alert()
          .parent(angular.element(document.querySelector('#popupContainer')))
          .clickOutsideToClose(true)
          .title(title)
          .textContent(message)
          .ariaLabel('Alert Dialog Demo')
          .ok('OK')
          .targetEvent(ev)
          );
      }

      $scope.showConfirm = function(ev, message, title = 'Confirma?') {
        // Appending dialog to document.body to cover sidenav in docs app
        var confirm = $mdDialog.confirm()
        .title(title)
        .textContent(message)
        .ariaLabel('Lucky day')
        .targetEvent(ev)
        .ok('Sim')
        .cancel('Não');
        return confirm;
      };


      $scope.showAdvanced = function(ev) {
        if($scope.formVenda.$valid){
          var useFullScreen = ($mdMedia('sm') || $mdMedia('xs'))  && $scope.customFullscreen;
          $mdDialog.show({
            controller: DialogController,
            templateUrl: "dialog/valorPago.html",
            parent: angular.element(document.body),
            // scope: $scope,
            targetEvent: ev,
            clickOutsideToClose:true,
            fullscreen: useFullScreen,
            locals: {
              scope2: $scope
            }
          });
        }else{
          $scope.showAlert(ev,"Verifique se selecionou o cliente.");
        }

        
      };

      $scope.remove = function(ev,array,index){
        title = "Remover";
        message = "Tem certeza que deseja remover o produto?";

        var confirm = $scope.showConfirm(ev,message,title);

        
        $mdDialog.show(confirm).then(function() {
            //procura o objeto por index
            $scope.venda.valorTotal -= $scope.produtosVenda[index].precoVenda * $scope.produtosVenda[index].qtd;
            array.splice(index,1); 
          }, function() {
            $scope.status = 0;
          });
      }

      $scope.vender = function($event) {   
        if($scope.formVenda.$valid)
        {
          var objVenda = {cliente: $scope.venda.cliente, valorBonus: $scope.venda.valorBonus, reserva: $scope.venda.reserva, valorPago: $scope.venda.valorPago || 0, produtos: angular.copy($scope.produtosVenda)};

          angular.forEach(objVenda.produtos,function(obj) {
            //verifico se ja existe o produto com mesmo tamanho e codigo
            delete obj.imagem;
            delete obj.nome;
            delete obj.precoVenda;
            delete obj.tamanho;
            delete obj.cod;          
          });     

          $http({
            method : "POST",
            url : "controller/vender.php",
            data    : objVenda, //forms user object
            headers : {'Content-Type': 'application/x-www-form-urlencoded'} 
          }).then(function mySucces(response) {

            if(response.data == 1){              
              $scope.showAlert($event,"Venda realizada com sucesso!");
            }else{
              $scope.showAlert($event,"Desculpe, não foi possível salvar!");
            }          
          }, 
          function myError(response) {
            console.log(response.statusText);
          });
        }else{
          console.log("formulario invalido!");
        }
      };

      $scope.carregarClientes = function(){
        $scope.clientes || $http.get("controller/consultarCliente.php").then(function(response) {
          $scope.clientes = response.data;
        });
      }

      $scope.carregarProdutos = function(){
        $scope.produtos || $http.get("controller/consultarProduto.php").then(function(response) {
          $scope.produtos = response.data;
        });
      }

      $scope.adicionarProdutos = function(){
        var existe = false;
        var index = $scope.venda.produto;//resgata o index de $scope.produtos
        
        //se nao preencher a quantidade, coloca 1
        $scope.venda.qtdProduto = $scope.venda.qtdProduto || 1;

        if($scope.venda.produto != undefined)
        {//se existir algum produto escolhido

          angular.forEach($scope.produtosVenda,function(obj){
              //verifico se ja existe o produto com mesmo tamanho e codigo
              if(obj.tamanho == $scope.produtos[index].tamanho && obj.cod == $scope.produtos[index].cod){
                obj.qtd += $scope.venda.qtdProduto;
                $scope.venda.valorTotal += (parseFloat(obj.precoVenda) * $scope.venda.qtdProduto);
                existe = true;
              }
            });     

          if(!existe){   
            $scope.produtos[index].qtd = $scope.venda.qtdProduto; //quantidade do produto que esta sendo adicionado          
            $scope.produtosVenda = $scope.produtosVenda.concat([angular.copy($scope.produtos[index])]);//copia o objeto de $scope.produtos para scope.produtosVenda
            $scope.venda.valorTotal += (parseFloat($scope.produtos[index].precoVenda) || 0 * $scope.venda.qtdProduto );
          }
        }        
      }    



      /**
      * Supplies a function that will continue to operate until the
      * time is up.
      */
      function debounce(func, wait, context) {
        var timer;
        return function debounced() {
          var context = $scope,
          args = Array.prototype.slice.call(arguments);
          $timeout.cancel(timer);
          timer = $timeout(function() {
            timer = undefined;
            func.apply(context, args);
          }, wait || 10);
        };
      }
      /**
      * Build handler to open/close a SideNav; when animation finishes
      * report completion in console
      */
      function buildDelayedToggler(navID) {
        return debounce(function() {
          // Component lookup should always be available since we are not using `ng-if`
          $mdSidenav(navID)
          .toggle()
          .then(function () {
            $log.debug("toggle " + navID + " is done");
          });
        }, 200);
      }  
    })  

  //quando montado o dialog
  function DialogController($scope, $mdDialog, $rootScope,scope2) {
    $scope.enviar = function(ev) {
      scope2.venda.valorPago = $scope.venda.valorPago;
          scope2.vender(ev);//.vender(ev);
          $mdDialog.hide();

        };
      }
    </script>
  </body>  
  </html>