<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Vai deixar algum valor pago?</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      {{venda.valorPago.replace('.','')}}
      <div class="md-dialog-content">
          <div flex ng-if="venda.creditoCliente > 0">
            Existe um crédito de <strong>{{venda.creditoCliente | currency}}</strong> para o cliente. Será abatido no valor da compra.                         
          </div>
          
          <br/>


          <div flex>
            <md-switch ng-model="venda.oferecerDesconto" aria-label="Switch 1" ng-click="venda.valorDesconto = 0" ng-change="(venda.oferecerDesconto) ? console.log('haha') : console.log('hehe')">
              Quero oferecer desconto
            </md-switch>

            <md-input-container ng-if="venda.oferecerDesconto">
              <label>Digite o valor do desconto</label>
              <input type="text"   ng-model="venda.valorDesconto" ng-currency onclick="this.value = ''">
            </md-input-container>
          </div>

          <br/>
      	  <div flex>                   
            <md-input-container>
              <label>Digite o valor que será pago</label>
              <input type="text"  id="valorPago" ng-model="venda.valorPago" onclick="this.value = ''"  ng-currency>
            </md-input-container>
          </div>

          <p ng-if="venda.id && venda.valorFoiPago > 0"> Valor que já pagou: {{venda.valorFoiPago | currency}}  </p>
          <p ng-if="venda.valorTotal > venda.creditoCliente">

            <div ng-if="(venda.valorTotal - venda.valorDesconto - (venda.valorPago || 0)  - venda.creditoCliente - venda.creditoUtilizado - venda.valorFoiPago) > 0">
              Resta pagar             
              <strong>{{venda.valorTotal - venda.valorDesconto - (venda.valorPago || 0) - venda.creditoCliente - venda.creditoUtilizado - venda.valorFoiPago | currency}} </strong>
            </div>
            <!--{{ venda.valorTotal}}
            {{venda.valorDesconto}}
            {{venda.valorPago}}
            {{venda.creditoCliente}}
            {{venda.creditoUtilizado}}
            {{venda.valorFoiPago}}-->
            <div ng-if="(venda.valorTotal - venda.valorDesconto - (venda.valorPago || 0) - venda.creditoCliente  - venda.creditoUtilizado - venda.valorFoiPago) < 0">
              Cliente receberá crédito no valor de: 
              <strong>{{(venda.valorTotal - venda.valorDesconto - (venda.valorPago || 0) - venda.creditoCliente  - venda.creditoUtilizado - venda.valorFoiPago) * -1 | currency}} </strong>
            </div>

            
          </p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
     
      <md-button ng-click="enviar($event);">
      	 OK
      </md-button>
       <md-button ng-click="hide($event);">
         Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>